.border-none {
    border: none;
}
.br-5 {
    border-radius: 5px;
}
.br-10 {
    border-radius: 10px;
}
.br-20 {
    border-radius: 20px;
}
.br-50p {
    border-radius: 50%;
}
.border-white {
    border: 1px solid #fff;
}
.border-theme{
    border: 1px solid #528aea;
}
.border-bottom-theme {
    border-bottom: 1px solid #528aea;
}
.border-bottom-light {
    border-bottom: 1px solid rgba(#979797, 0.2);
}
.border-bottom-light-2 {
    border-bottom: 2px solid rgba(#979797, 0.2);
}
.border-top-light {
    border-top: 1px solid rgba(#979797, 0.2);
}
.border-light {
    border: 1px solid rgba(#979797, 0.2);
}
.border-status-bar {
    border: 1px solid #a8b6cd;
}
.border-left-none{
    border-left : none;
}
.border-left-theme{
    border-left: 1px solid #528aea;
}
.border-topRight-theme{
    border-right: 1px solid #528aea;
    border-top: 1px solid #528aea;
}
.border-noTop-theme{
    border-left: 1px solid #528aea;
    border-right: 1px solid #528aea;
    border-bottom: 1px solid #528aea;

}