.wt-8 {
    width: 8px;
}
.wt-10 {
    width: 10px;
}
.wt-12 {
    width: 12px;
}
.wt-15 {
    width: 15px;
}
.wt-20 {
    width: 20px;
}
.wt-25 {
    width: 25px;
}
.wt-30 {
    width: 30px;
}
.wt-50 {
    width: 50px;
}
.wt-100 {
    width: 100px;
}
.wt-120 {
    width: 120px;
}
.wt-150 {
    width: 150px;
}
.wt-200 {
    width: 200px;
}
.wt-250 {
    width: 250px;
}
.wt-280 {
    width: 280px;
}
.wt-300 {
    width: 300px;
}
.wt-350 {
    width: 350px;
}
.wt-400 {
    width: 400px;
}
.wt-450 {
    width: 450px;
}
.wt-500 {
    width: 500px;
}
.wt-600 {
    width: 600px;
}
.wt-max-content {
    width: max-content;
}

.col-1 {
    width: 100%;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33.33%
}
.col-4 {
    width: 25%;
}
.col-5 {
    width: 20%;
}
.col-6 {
    width: 16.66%;
}
.col-7 {
    width: 14.2857%;
}
.col-8 {
    width: 12.5%;
}
.col-9 {
    width: 11.1111%;
}


.min-wt-10 {
    min-width: 10px;
}
.min-wt-15 {
    min-width: 15px;
}
.min-wt-20 {
    min-width: 20px;
}
.min-wt-25 {
    min-width: 25px;
}
.min-wt-30 {
    min-width: 30px;
}
.min-wt-50 {
    min-width: 50px;
}
.min-wt-100 {
    min-width: 100px;
}
.min-wt-150 {
    min-width: 150px;
}
.min-wt-200 {
    min-width: 200px;
}
.min-wt-250 {
    min-width: 250px;
}
.min-wt-300 {
    min-width: 300px;
}
.min-wt-350 {
    min-width: 350px;
}
.min-wt-400 {
    min-width: 400px;
}
.min-wt-100p {
    min-width: 100%;
}


.max-wt-600 {
    max-width: 600px;
}
.max-wt-650 {
    max-width: 650px;
}
.max-wt-700 {
    max-width: 700px;
}

.ht-8 {
    height: 8px;
}
.ht-10 {
    height: 10px;
}
.ht-12 {
    height: 12px;
}
.ht-15 {
    height: 15px;
}
.ht-16 {
    height: 16px;
}
.ht-20 {
    height: 20px;
}
.ht-25 {
    height: 25px;
}
.ht-30 {
    height: 30px;
}
.ht-40 {
    height: 40px;
}
.ht-50 {
    height: 50px;
}
.ht-60 {
    height: 60px;
}
.ht-70 {
    height: 70px;
}
.ht-80 {
    height: 80px;
}
.ht-100 {
    height: 100px;
}
.ht-120 {
    height: 120px
}
.ht-150 {
    height: 150px;
}
.ht-200 {
    height: 200px;
}
.ht-250 {
    height: 250px;
}
.ht-300 {
    height: 300px;
}
.ht-350 {
    height: 350px;
}
.ht-400 {
    height: 400px;
}

.row-100 {
    height: 100%;
}
.ht-100p {
    height: 100%;
}
.min-ht-100p {
    min-height: 100%;
}

.ht-overlay-body {
    height: calc(100vh - 100px);
}


.b-0 {
    bottom: 0;
}
.r-0 {
    right: 0;
}
.t-100p {
    top: 100%;
}
.l-100p {
    left: 100%;
}
.vCenter {
    top: 50%;
    transform: translateY(-50%);
}
.center {
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.hCenter {
    left: 50%;
    transform: translateX(-50%);
}