.select-icon {
    svg {
        fill: #528aea
    }
    path {
        fill: #528aea;
    }
    g {
        fill: #528aea;
    }
}
svg.theme-fill {
    path {
        fill: #528aea;
        fill-opacity: 1;
    }
    g {
        fill: #528aea;
        fill-opacity: 1;
    }
}