
.tLeft {
    text-align: left;
}
.tRight {
    text-align: right;
}
.tCenter {
    text-align: center;
}

.light-font {
    color:#9fa8da !important;
}

.text-uppercase {
    text-transform: uppercase;
}